* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

 body {
    -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.tooltip .tooltiptext {
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    color: #fff;
     padding: 6px 8px;
    border-radius: 8px;
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom:40px;
    left:50%;
    transform: translateX(-50%) scale(.9);
    transform-origin: 50% 50% 0px;
 }
 .tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
    transform-origin: 50% 50% 0px;
    transform: translateX(-50%) scale(1);
    bottom: 48px;
 }
 #hero h1 {
    font-family: 'Inter Tight', sans-serif;
 }
 .ideas {
    position: relative;
    display: inline-block;
    margin-right: 12px;
 }
 .ideas::before {
    content:"";
    display: block;
    position: absolute;
    width:12px;
    height:12px;
    top:-11px;
    left:-15.5px;
    background-color: #007AFF;
    border-radius: 8px;
 }
 .ideas::after {
    content:"";
    display: block;
    position: absolute;
    width:12px;
    height:12px;
    bottom:-11px;
    right:-15.5px;
    background-color: #007AFF;
    border-radius: 8px;
 }
 .execution {
    --angle: 135deg;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
    background: #77fafc;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #007AFF 0%, #9c6ca6 100%);
 }
 .work {
    height:588px;
    box-shadow: 0 0.6021873017743928px 0.6021873017743928px -1.25px #0000002e, 0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #00000010, 0 1px 2px #0000001f, 0 0 2px #00000014;
 }
 @media @media (max-width: 844px) {
    .work {
        height:388px;
    }
 }
 @media (prefers-color-scheme: dark) {
 .ideas {
       background-color:rgb(25, 48, 72) !important; 
       box-shadow: -8px 0px 0px rgb(25, 48, 72), 8px 0px 0px rgb(25, 48, 72), -11px 0px 0px #007AFF, 11px 0px 0px #007AFF !important;
    }
 }
